/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.AlertHamburger {
    filter: invert(1);
}

.card {
width: 18rem;
}

img {
    width: 100%;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}